PORT=3004
AWS_REGION=ap-southeast-1
AWS_ACCESS_KEY_ID=YOUR_ACCESS_KEY
AWS_SECRET_ACCESS_KEY=YOUR_SECRET_KEY
CLINICS_TABLE=ElasticHackathonClinics
PATIENTS_TABLE=ElasticHackathonPatients
APPOINTMENTS_TABLE=ElasticHackathonAppointments
GSI_PATIENT_ID=GSI_PatientId
GSI_CLINIC_ID=GSI_ClinicId
